
/* Seletor Universal*/
*{
         margin: 20px;
     }
     /*Seletor de tipo,aplicando em um tag*/
     p{
         color: rgb(169, 227, 242);
     }

      /*Seletor de classe*/
      .paragrafo{
         background-color: rgb(169, 227, 242);
         /*margin: 10px; - Aplica em todas as margens*/
         /*margin: 10px 40px; - Aplica nas margens 'Laterais' e 'superior e inferior' */
         /*margin: 10px 20px 30px 40px; aplica margem top, right, bottom, left*/
         margin-left: 10px;

     }
     .imagem{
         width: 100px;
         height: 100px;
     }
     .tabela{
        border-collapse: collapse;
        width: 100%;
     }
